body{
background: url("wallpaper.png") no-repeat;
background-size: cover;
color: white;
}
table{
    width:900px;
    height:300px;
    position:absolute;
    margin-left: -450px; /* half of width */
    margin-top:  -150px;/* half of height */
    top:30%;
    left:50%
}
tr,td{
  width: 100px;
  height: 50px;
}

#submitButton{
  margin: auto;
  position: absolute;
  top: 70%;
  left: 50%;
}
#searchType{
  margin: auto;
  position: absolute;
  top: 44%;
  left: 49.65%;
  width: 75px;
}
