body{
background: url("wallpaper.png") no-repeat;
background-size: cover;
color: white;
}
table{
    width:60%;
    height:60%;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid white;
}

tr,td{
  width: 100px;
  height: 50px;
}

button{
  background-color: solid black;
  margin:auto;
}
